fastapi
uvicorn
python-dotenv
yfinance
duckduckgo-search
langchain>=0.2.0
langchain-community
langchain-google-genai
langchain-chroma
pydantic>=2.0.0
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
pypdf
