fastapi
uvicorn
python-dotenv
yfinance
duckduckgo-search
langchain>=0.2.3
langchain-community>=0.2.3
langchain-google-genai>=1.0.6
langchain-chroma>=0.1.1
pydantic>=2.0.0
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
pypdf
